.App {
  text-align: center;
  margin: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin: 10px 0;
}

input {
  margin-left: 10px;
}

button {
  margin-top: 10px;
}
